<div class="mt-4 mb-4">
    <div class="row">

        {{#each courses}}
        <div class="col-sm-6 col-lg-3 mb-4">
            <div class="card" style="width: 18rem;">
                <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="card-img-top" alt="...">
                </a>
                <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <a href="#" class="btn btn-primary">Mua Khóa Học</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>